@using AllForRent.ViewModels
@model EditUserDashboardViewModel

@{
}

<form method="post" asp-action="EditUserProfile" enctype="multipart/form-data">
    <input type="hidden" id="Id" name="Id" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="FullName" class="form-label">Ваше имя</label>
        <input asp-for="FullName" class="form-control" placeholder="Заголовок для объявления">
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label">Номер телефона</label>
        <input asp-for="PhoneNumber" class="form-control" placeholder="Введите текст">
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Street" class="form-label">Улица</label>
        <input asp-for="Street" class="form-control" placeholder="Улица">
        <span asp-validation-for="Street" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="City" class="form-label">Город</label>
        <input asp-for="City" class="form-control" placeholder="Город">
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="State" class="form-label">Область</label>
        <input asp-for="State" class="form-control" placeholder="Область">
        <span asp-validation-for="State" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Image" class="form-label">Добавте изображение</label>
        <input asp-for="Image" class="form-control" type="file" multiple>
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
