@using AllForRent.ViewModels;
@model CreateProductCardViewModel

@{}

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <input type="hidden" id="AppUserId" name="AppUserId" asp-for="AppUserId" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Название объявления</label>
        <input asp-for="Name" class="form-control" placeholder="Заголовок для объявления">
        <span asp-validation-for="Name" class="text-danger"></span>
        <div id="emailHelp" class="form-text">Название должно содержать не более 60-ти символов</div>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label">Описание</label>
        <input asp-for="Description" class="form-control" placeholder="Введите текст">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label">Цена</label>
        <input asp-for="Price" class="form-control" placeholder="Цена в рублях">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Image" class="form-label">Добавьте изображение</label>
        <input asp-for="Image" class="form-control" type="file">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>